* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100vw;
    overflow-x: none;
}

.navContainer {
    min-height: 45px;
    background: #661427;
    background: linear-gradient(90deg, rgba(102, 20, 39, 1) 0%, rgba(41, 41, 148, 1) 35%, rgba(33, 61, 9, 1) 100%);
}

#navList {
    padding: 10px;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navLogo {
    font-size: 2rem;
    color: white;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    transition: all 0.6s ease;
    padding-bottom: 0.4rem;
}

#navLogo:hover {
    color: #FFD700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.9),
        0 0 20px rgba(255, 165, 0, 0.7),
        0 0 35px rgba(255, 140, 0, 0.5);
    transform: scale(1.1);
}

#navItems {
    display: flex;
    gap: 35px;
}

#home {
    cursor: pointer;
    transition: all 0.5s ease;
}

#home:hover {
    color: #00FFFF;
    text-shadow: 0px 0px 0px rgba(0, 255, 255, 0.9);
    transform: scale(1.1);
}

#contact {
    cursor: pointer;
    transition: all 0.5s ease;
}

#contact:hover {
    color: #FF1493;
    text-shadow: 0 0 0px rgba(255, 20, 147, 0.9);
    transform: scale(1.1);
}

#about {
    cursor: pointer;
    transition: all 0.5s ease;
}

#about:hover {
    color: #FF8C00;
    text-shadow: 0 0 0px rgba(255, 140, 0, 0.9);
    transform: scale(1.1);
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.contentBox {
    width: 55vw;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    box-shadow: 0px 0px 60px black;
    background-color: rgb(250, 247, 243);
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.leftbox {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.leftbox h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
}

.leftbox h3 {
    font-size: 1.3rem;
}

.ingbox {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.instbox {
    font-size: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.rightbox {
    height: 100%;
    margin-top: 5.8rem;
    position: relative;
    overflow: hidden;
    transition: transform 0.6s ease-out, border-radius 0.6s ease-out;
}

.rightbox img {
    height: 360px;
    width: 240px;
    object-fit: cover;
    border-radius: 25px;
    display: block;
}

.rightbox:hover {
    transform: scale(1.1);
    border-radius: 25px;
    box-shadow: 5px 0px 50px rgb(165, 161, 161);
}

.footer {
    background: linear-gradient(90deg, rgba(102, 20, 39, 1) 0%, rgba(41, 41, 148, 1) 35%, rgba(33, 61, 9, 1) 100%);
    color: #f9f8f8;
    padding: 20px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 65vw;
    margin: auto;
}

.footer h4 {
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.footer-links ul {
    list-style: none;
    font-size: 1rem;
    padding: 0;
}

.footer p {
    font-size: 1rem;
    line-height: 22px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    font-size: 13px;
}


@media (max-width:768px) {
    #navList {
        height: auto;
        width: auto;
    }

    #navLogo {
        font-size: 18px;
        padding-top: 4.5px;
    }

    #navItems {
        font-size: 13px;
    }

    .contentBox {
        width: 90vw;
        margin: auto;
        margin-top: 12px;
        margin-bottom: 12px;
        gap: 50px;
    }

    .item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .leftbox {
        gap: 15px;
        order: 1;
    }

    .leftbox h1 {
        font-size: 22px;
        text-align: center;
    }

    .leftbox h3 {
        font-size: 18px;
    }

    .ingbox {
        font-size: 15px;
    }

    .instbox {
        font-size: 15px;
    }

    .rightbox {
        height: auto;
        margin-top: 40px;
        order: -1;
    }

    .rightbox img {
        height: 320px;
        width: 300px;
        border-radius: 15px;
        object-fit: cover;
    }

    .footer {
        padding: 10px;
    }

    .footer-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: stretch;
        max-width: 420px;
    }

    .footer h4 {
        margin-bottom: 12px;
        font-size: 17px;
    }

    .footer-links ul {
        list-style: none;
        font-size: 13px;
        padding: 0;
    }

    .footer p {
        font-size: 13px;
        line-height: 16px;
    }

    .footer-bottom {
        text-align: center;
        padding-top: 8px;
        margin-top: 5px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        font-size: 13px;
    }

}